
<%- include('../partials/homenavbar') %> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>symptom</title>
</head>
<body>
   <% for(symptom of symptoms){%>
    <div>
    <ul>
        <li>Symptom Name:<%=symptom.symptomType%></li>
        <li>Symptom Date:<%=symptom.symptomDate%></li> 
        <li>symptom time:<%=symptom.symtomTime%></li> 
        <li>Notes:<%=symptom.symptomInfo%></li>
       
    </ul>
    </div>
   <%}%>
</body>
</html>
]
